.m-page1{background: url(../images/page1bg.jpg) no-repeat -211px 0;}

.pg1-baikuang{width: 210px;height: 466px;float: left;}

.pg1-top{margin-bottom: 10px;}

.pg1-banner{float: left;margin: 12px 10px 0;position: relative;overflow: hidden;}

.pg1-banner img{width: 730px;height: 454px;}

.pg1-banner ul li{display: none;}

.pg1-banner ul .dis{display: block;}

.pg1-banner ol{position: absolute;top: 90%;background: rgba(0,0,0,0.2);height: 30px;border-radius: 20px;}

.pg1-banner ol li{margin:5px 5px;height: 20px;width: 20px;background: white;border-radius:10px ;float: left;}

.pg1-banner ol .act{background: red;}

.pg1-banner button{position: absolute;background: rgba(0,0,0,0.2);color: white;width: 30px;height: 60px;text-align: center;line-height: 60px;font-family: consolas;font-size: 30px;cursor: pointer;border: none;outline: none;display: none;}

.pg1-banner .butleft{left: 0;top:197px;}

.pg1-banner .butright{right: 0;top:197px;}

.pg1-banner .butact{display: block;}

.pg1-right{float: right;width: 250px;padding-top:12px ;}

.pg1-right dl{height: 163px;border: 1px solid #e4e4e4;border-bottom: none;}

.pg1-right dl dt{height: 32px;border-bottom: 1px dotted #e8e8e7;margin-bottom: 5px;}

.pg1-right dl dt a{float: right;font-size: 12px;color: #666666;line-height: 32px;padding-right: 16px;}

.pg1-right dl dt a i{font-family: consolas;margin-left: 8px;vertical-align: top;}

.pg1-right dl dt a:hover{color:#c81623;}

.pg1-right dl dt h3{font-weight: normal;line-height: 32px;padding-left: 15px;font-size: 16px;color: #666666;}

.pg1-right dl dd{padding-left: 15px;width: 217px;overflow: hidden;height: 24px;}

.pg1-right dl dd a{font-size: 12px;font-family: "宋体";color: #666666;line-height: 24px;vertical-align: top;}

.pg1-right dl dd .a1{font-weight: bold;margin-right: 6px;}

.pg1-right dl dd a:hover{color:#c81623;}

.pg1-right .icon{height: 208px;width: 248px;overflow: hidden;border: 1px solid #e4e4e4 ;margin-bottom: 5px;}

.pg1-right .icon-ul{width: 280px;}

.pg1-right .icon-ul li{float: left;}

.pg1-right .icon-ul a{display: block;width: 62px;height: 70px;border-right: 1px solid #e4e4e4 ;border-bottom: 1px solid #e4e4e4 ;text-align: center;position: relative;}

.pg1-right .icon-ul a span{height: 30px;line-height: 30px;display: block;color: #666666;font-size: 12px;font-family: "宋体";padding-top: 40px;}

.pg1-right .icon-ul a:hover span{color: #c81623;}

.pg1-right .icon-ul a p{width: 25px;height: 25px;position: absolute;left: 19px;top:13px;}

.pg1-right .icon-ul a p{background: url(../images/57620a6fN77b2b8af.png) no-repeat;}

.pg1-right .icon-ul a .p2{background-position: 0 -25px;}

.pg1-right .icon-ul a .p3{background-position: 0 -50px;}

.pg1-right .icon-ul a .p4{background-position: 0 -75px;}

.pg1-right .icon-ul a .p5{background-position: 0 -100px;}

.pg1-right .icon-ul a .p6{background-position: 0 -125px;}

.pg1-right .icon-ul a .p7{background-position: 0 -150px;}

.pg1-right .icon-ul a .p8{background-position: 0 -175px;}

.pg1-right .icon-ul a .p9{background-position: 0 -250px;}

.pg1-right .icon-ul a .p10{background-position: 0 -200px;}

.pg1-right .icon-ul a .p11{background-position: 0 -275px;}

.pg1-right .icon-ul a .p12{background-position: 0 -225px;}




.pg1-right .box{height: 208px;width: 248px;overflow: hidden;}

.pg1-right .box .top{overflow: hidden;width: 248px;}

.pg1-right .box .top li{float: left;}

.pg1-right .box .top a{display: inline-block;height: 27px;line-height: 27px;color: #666666;font-size: 12px;font-family: "宋体";border-top: 3px solid transparent;padding: 0 17px;text-align: center;border-right: 1px solid #e7e7e7;}

.pg1-right .box .top .last{border-right:none ;}

.hide{display: none;}

.pg1-right .box .text span{float: right;margin-right: 10px;font-family: consolas;font-size: 22px;color: #666666;line-height: 22px;cursor: pointer;}

.pg1-right .box .text div{padding: 22px 15px;}

.pg1-right .box .act a{border-top-color: red;color: red}

.pg1-right .box .text div ul{height: 24px;margin-bottom: 15px;}

.pg1-right .box .text div ul li{float: left;margin-right: 18px;}

.pg1-right .box .text div ul li a{color: #666666;line-height: 24px;font-size: 12px;font-family: "宋体";display: inline-block;}

.pg1-right .box .text div ul .act a{color: white;background: #e6101a;}



.pg1-right .box .text div form i{color: #666666;line-height: 24px;font-size: 12px;font-family: "宋体";margin: 0 10px 10px;}

.pg1-right .box .text div form input{height: 20px;width: 100px;outline: none;border: 1px solid #666666;margin-bottom: 10px;}

.pg1-right .box .text div form select{margin-bottom: 30px;height: 25px;color: #666666;line-height: 25px;font-size: 12px;font-family: "微软雅黑";}

.pg1-right .box .text div form button{border: none;background: red;color: white;line-height: 30px;font-size: 12px;font-family: "微软雅黑";padding: 0 10px;cursor: pointer;}


.pg1-bot{height: 164px;margin-bottom: 16px;}

.pg1-bot .pg1-time{width: 210px;float: left;height: 151px;display:block;background:url(../images/homebg.png) no-repeat -213px -136px;}

/*.pg1-time .zhong{height: 44px;width: 44px;margin: 0 auto;border: 8px solid #FFFFFF;border-radius: 31px;margin-top: 30px;}*/

.pg1-time p{text-align: center;height: 38px;line-height: 38px;color: #FFFFFF;font-size: 18px;}

.pg1-bot .luntu{float: left;width: 1000px;overflow: hidden;height: 164px;}

.pg1-bot .luntu img{float: left;margin: 0;width: 249px;margin-right: 1px;}

.pg1-bot .luntu .lu-last{margin-right: 0;}

.m-cai{padding-bottom: 23px;}

.mc-top{margin-bottom: 5px;}

.mc-top h3{height: 34px;line-height: 34px;font-size: 20px;font-weight: normal;color: #333333;float: left;background: url(../images/homebg.png) no-repeat 85px -91px;width: 300px;}

.mc-top div{float: right;width: 80px;}

.mc-top .huan{color: #666666;font-family: "宋体";font-size: 12px;padding-right: 0px;line-height: 34px;}

.mc-top .huanquan{background: url(../images/homebg.png) no-repeat -346px 0px;display: inline-block;width:30px;height: 28px;float: right;}

.mc-top div:hover .huan{color: #c81623;}

.mc-top div:hover .huanquan{background: url(../images/homebg.png) no-repeat -346px -24px;}


.mc-item{height: 231px;border: 1px solid #d1d1d1;position: relative;}

/*.mc-item:hover .xingbian{left: 845px;}*/

.xingbian{background: url(../images/homebg.png) no-repeat 0 -124px;height: 5px;width: 365px;position: absolute;top:-3px;left: 0px;transition: all 1s;}

.mc-item a{display: block;float: left;text-align: center;width: 201px;padding-top: 22px;}

.mc-item a .text{height: 62px;border-right: 1px solid #e6e6e6;}

.mc-item a p{height: 36px;line-height: 18px;color: #666666;font-family: "宋体";font-size: 12px;padding: 0 36px;overflow: hidden;text-align: left;margin-bottom: 5px;}

.mc-item a span{line-height: 21px;color: #bc1d1a;padding: 0 36px;text-align: left;display: block;font-family: arial;font-size: 18px;height: 21px;}

.mc-item a span i{font-size: 14px;line-height: 24px;font-family:consolas;}

.mc-item .mc-last .text{border-right:none;}

.mc-item img{transition: all 1s;}

.mc-item a:hover img{transform: translatey(-10px);}

.mc-item a:hover p{color: #c81623;}

.m-shenghuo{padding-bottom:20px;}

.m-shenghuo .ms-title{height: 33px;line-height: 33px;color: #333333;font-size: 20px;font-weight: normal;}

.ms-item{height: 405px;width: 1208px;border: 1px solid #ededed;}

.ms-left{width: 403px;border-right: 1px solid #ededed;background: #f7f7f7;float: left;}

.ms-l-pud1{height: 246px;border-bottom: 1px solid #ededed;display: block;width: 403px;overflow: hidden;position: relative;float: left;}

.ms-l-pud1 h4{height: 40px;line-height: 40px;font-size: 15px;color:#333333;text-align: center;border-bottom: 1px dashed #e0e0e0;margin: 0 20px;}

.ms-l-pud1 .font{position: absolute;top: 100px;left: 45px;}

.ms-item .font h3{height: 37px;line-height: 37px;font-size: 16px;color: #333333;}

.ms-item .font span{height: 18px;line-height: 18px;font-size: 12px;color: #333333;}

.ms-item .font p{height: 18px;line-height: 18px;font-size: 12px;color: #c81623;}

.ms-l-pud2{width: 201px;border-right:1px solid #ededed ;float: left;position: relative;display: block;height: 158px;overflow: hidden;}

.ms-left .pudr{border-right: none;}

.ms-l-pud2 .font,.ms-l-pud4 .font{position: absolute;top: 39px;left: 10px;}

.ms-l-pud3{height: 246px;border-bottom: 1px solid #ededed;display: block;width: 228px;overflow: hidden;position: relative;}

.ms-l-pud3 .font{position: absolute;top: 100px;left: 10px;}

.ms-l-pud3 h4{height: 40px;line-height: 40px;font-size: 15px;color:#333333;text-align: center;border-bottom: 1px dashed #e0e0e0;margin: 0 20px;}

.ms-l-pud4{width: 228px;position: relative;display: block;height: 158px;overflow: hidden;}

.ms-l-pud1 img,.ms-l-pud2 img,.ms-l-pud3 img,.ms-l-pud4 img{transition: all 1s;}

.ms-l-pud1:hover img{transform: translateX(-10px);}

.ms-l-pud2:hover img{transform: translateX(-10px);}

.ms-l-pud3:hover img{transform: translateX(-10px);}

.ms-l-pud4:hover img{transform: translateX(-10px);}

.ms-mid{width: 228px;border-right: 1px solid #ededed;float: left;}

.ms-right{float: left;width: 171px;}

.ms-icons-l{border-right: 1px dashed #e0e0e0;float: left;width: 85px;margin-top: 13px;height:381px ;overflow: hidden;}

.ms-icons-l li{height: 57px;border-bottom: 1px dashed #e0e0e0;width: 74px;margin-left: 11px;}

.ms-icons-l .li-last{border-bottom:none;}

.ms-icons-l a{display: block;margin-left: -11px;text-align: center;width: 85px}

.ms-icons-l ul{margin-top: -13px;}

.ms-icons-r{float: left;width: 85px;margin-top: 13px;height:381px ;}

.ms-icons-r li{height: 57px;border-bottom: 1px dashed #e0e0e0;width: 74px;}

.ms-icons-r .li-last{border-bottom:none;}

.ms-icons-r a{display: block;text-align: center;width: 85px}

.ms-icons-r ul{margin-top: -13px;}


.m-xgg{padding-bottom:13px ;}

.m-xgg a{display: block;position: relative;height: 125px;width: 403px;float: left;}

.m-xgg span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.m-xgg a:hover span{display: block;}



.mf1-top{border-bottom: 1px solid #c81623;height: 38px;}

.mf1-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px -31px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;padding-left: 3px;}

.mf1-top h3{float: left;height: 38px;line-height: 38px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf1-top ul{float: right;margin-top: 3px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf1-top li{float: left;height:34px;position: relative;}

.mf1-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf1-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf1-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf1-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}

.bzfont{position: absolute;top: 25px;left: 20px;}

.bzfont p{height: 28px;line-height: 28px;color: #242424;font-size: 18px;}

.bzfont i{height: 22px;line-height: 22px;color: #ca151e;font-size: 14px;}


.mf1-mid{height: 633px;margin-bottom: 10px;}


.mf1-left{float: left;width: 330px;}

.mf1-l-top{display: block;height: 473px;width: 330px;overflow: hidden;}

.mf1-l-ul1{background: rgba(255,255,255,0.5);margin-top: -220px;height: 92px;padding-left: 25px;position: relative;z-index: 5;}

.mf1-l-ul1 li{float: left;width: 80px;margin: 10px 20px 10px 0;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf1-l-ul1 li a{color: #666666;background: url(../images/clothesicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf1-l-ul1 li a:hover{color: #c81623;}

.mf1-l-ul1 li .mf1-l-ul1-a2{background-position: 0 -26px;}

.mf1-l-ul1 li .mf1-l-ul1-a3{background-position: 0 -52px;}

.mf1-l-ul1 li .mf1-l-ul1-a4{background-position: 0 -78px;}

.mf1-l-ul1 li .mf1-l-ul1-a5{background-position: 0 -104px;}

.mf1-l-ul1 li .mf1-l-ul1-a6{background-position: 0 -130px;}

.mf1-l-ul2{background: rgba(255,255,255,0.8);height: 112px;position: relative;z-index: 5;padding: 16px 25px 0 25px;}

.mf1-l-ul2 li{float: left;width: 120px;margin-right: 40px;overflow: hidden;}

.mf1-l-ul2 .mf1-l-ul2-r{margin-right:0;}

.mf1-l-ul2 li a{float: left;line-height: 24px;color: #999999;font-size: 12px;font-family: "宋体";margin-right: 11px;}

.mf1-l-ul2 .act{color: #c81623;}

.mf1-l-ul2 li a:hover{color: #c81623;}

.mf1-l-bot{height: 158px;width: 328px;border-bottom: 1px solid #ededed;border-right: 1px solid #ededed;border-left: 1px solid #f7f5ee;display: block;overflow: hidden;border-top: 1px solid #ededed;position: relative;}

.mf1-l-bot span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf1-l-bot:hover span{display: block;}



.mf1-center{width: 439px;border-right: 1px solid #ededed;float: left;}

.mf1-center .pic1{width: 439px;height: 157px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;}

.mf1-center span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf1-center a:hover span{display: block;}

.mf1-center .pic2{width: 439px;height: 315px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;}

.mf1-center .pic3{width: 439px;height: 158px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;}



.mf1-right{float: left;width: 440px;height: 633px;}

.mf1-right a{float: left;display: block;height: 157px;width: 219px;border-bottom: 1px solid #ededed;border-right: 1px solid #ededed;overflow: hidden;}

.mf1-right .act{height: 316px;float: right;}

.mf1-right span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf1-right a:hover span{display: block;}

.mf1-right a{position: relative;}

.mf1-pic2{float: left;}

.mf1-pic2 a{float: none;}

.mf1-pic2 .last{height: 158px;}



.mf1-bot{background: #f7f7f7;height: 66px;margin-bottom: 16px;}

.mf1-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf1-bot .last{border-right: none;}

.mf1-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf1-bot li:hover span{display: block;}



.mf2-top{border-bottom: 1px solid #c81623;height: 41px;}

.mf2-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px -31px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;padding-left: 3px;}

.mf2-top h3{float: left;height: 38px;line-height: 38px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf2-top ul{float: right;margin-top: 6px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf2-top li{float: left;height:34px;position: relative;}

.mf2-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf2-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf2-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf2-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}


.mf2-mid{height: 474px;margin-bottom: 10px;}

.mf2-left{float: left;width: 210px;}

.mf2-l-top{display: block;height: 474px;width: 210px;overflow: hidden;}

.mf2-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 92px;padding-left: 10px;position: relative;z-index: 5;}

.mf2-l-ul1 li{float: left;width: 98px;margin: 10px 0px;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf2-l-ul1 li a{color: #666666;background: url(../images/cosmeticsicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf2-l-ul1 li a:hover{color: #c81623;}

.mf2-l-ul1 li .mf2-l-ul1-a2{background-position: 0 -26px;}

.mf2-l-ul1 li .mf2-l-ul1-a3{background-position: 0 -52px;}

.mf2-l-ul1 li .mf2-l-ul1-a4{background-position: 0 -78px;}

.mf2-l-foot{height: 123px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding-left: 25px;padding-top: 22px;}

.mf2-l-foot a{display: inline-block;height: 24px;line-height: 24px;color: #666666;font-size: 14px;}

.mf2-l-foot ul{padding-top:6px ;}

.mf2-l-foot ul li{height: 24px;line-height: 24px;float: left;font-family: "宋体";font-size: 12px;margin-right: 11px;}

.mf2-l-foot ul li a{color: #999999;}

.mf2-l-foot ul li .act{color: #c81623;}

.mf2-l-foot a:hover{color: #c81623;}

.mf2-center{width: 339px;border-right: 1px solid #ededed;float: left;}

.mf2-center .pic1{width: 339px;height: 296px;display: block;border-bottom: 1px dotted #ededed;overflow: hidden;position: relative;}

.mf2-center span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf2-center a:hover span{display: block;}

.mf2-center .pic2{width: 339px;height: 176px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;}

.mf2-right span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf2-right a:hover span{display: block;}

.mf2-right a{float: left;display: block;border-right: 1px solid #ededed;border-bottom: 1px solid #ededed;position: relative;}

.mf2-right .pic1{height: 296px;width: 219px;overflow: hidden;}

.mf2-right .pic2{height: 176px;width: 219px;overflow: hidden;}

.mf2-bot{background: #f7f7f7;height: 66px;margin-bottom: 21px;}

.mf2-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf2-bot .last{border-right: none;}

.mf2-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf2-bot li:hover span{display: block;}


.mf3-top{border-bottom: 1px solid #c81623;height: 40px;}

.mf3-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px -31px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;padding-left: 3px;}

.mf3-top h3{float: left;height: 40px;line-height: 40px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf3-top ul{float: right;margin-top: 5px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf3-top li{float: left;height:34px;position: relative;}

.mf3-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf3-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf3-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf3-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}


.mf3-mid{height: 474px;margin-bottom: 10px;}


.mf3-left{float: left;width: 330px;}

.mf3-l-top{display: block;height: 474px;width: 330px;overflow: hidden;}

.mf3-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 46px;padding-left: 25px;position: relative;z-index: 5;}

.mf3-l-ul1 li{float: left;width: 80px;margin: 10px 18px 10px 0;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf3-l-ul1 li a{color: #666666;background: url(../images/mobilesicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf3-l-ul1 li a:hover{color: #c81623;}

.mf3-l-ul1 li .mf3-l-ul1-a2{background-position: 0 -26px;}

.mf3-l-ul1 li .mf3-l-ul1-a3{background-position: 0 -52px;}

.mf3-l-foot{height: 169px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding: 22px 0 0 25px;}

.mf3-l-ul3 li{float: left;height: 24px;line-height: 24px;font-size: 14px;width: 125px;margin-right: 35px;}

.mf3-l-ul3 .act{margin-right:0;}

.mf3-l-ul3 li a{color: #666666;}

.mf3-l-ul3 li a:hover{color: #c81623;}

.mf3-l-ul2{padding-top: 6px;}

.mf3-l-ul2 li{float: left;width: 120px;margin-right: 40px;overflow: hidden;}

.mf3-l-ul2 .mf3-l-ul2-r{margin-right:0;}

.mf3-l-ul2 li a{float: left;line-height: 24px;color: #999999;font-size: 12px;font-family: "宋体";margin-right: 11px;}

.mf3-l-ul2 .act{color: #c81623;}

.mf3-l-ul2 li a:hover{color: #c81623;}

.mf3-center{width: 440px;float: left;}

.mf3-center .pic1{width: 439px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px solid #ededed;}

.mf3-center span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf3-center a:hover span{display: block;}

.mf3-center .pic2{width: 219px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;float: left;border-right: 1px solid #ededed;}

.mf3-right{float: left;width: 440px;}

.mf3-right a{float: left;display: block;width: 219px;border-bottom: 1px solid #ededed;border-right: 1px solid #ededed;overflow: hidden;position: relative;}

.mf3-right span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf3-right a:hover span{display: block;}

.mf3-right .pic3{height: 117px;}

.mf3-right .pic2{height: 237px;}

.mf3-bot{background: #f7f7f7;height: 66px;margin-bottom: 16px;}

.mf3-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf3-bot .last{border-right: none;}

.mf3-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf3-bot li:hover span{display: block;}


.mf4-top{border-bottom: 1px solid #c81623;height: 40px;}

.mf4-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px -31px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;padding-left: 3px;}

.mf4-top h3{float: left;height: 40px;line-height: 40px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf4-top ul{float: right;margin-top: 5px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf4-top li{float: left;height:34px;position: relative;}

.mf4-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf4-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf4-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf4-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}


.mf4-mid{height: 474px;margin-bottom: 10px;}


.mf4-left{float: left;width: 330px;}

.mf4-l-top{display: block;height: 474px;width: 330px;overflow: hidden;}

.mf4-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 46px;padding-left: 25px;position: relative;z-index: 5;}

.mf4-l-ul1 li{float: left;width: 120px;margin: 10px 40px 10px 0;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf4-l-ul1 .act{margin-right: 0;}

.mf4-l-ul1 li a{color: #666666;background: url(../images/electronicsicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf4-l-ul1 li a:hover{color: #c81623;}

.mf4-l-ul1 li .mf4-l-ul1-a2{background-position: 0 -26px;}

.mf4-l-foot{height: 169px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding: 22px 0 0 25px;}

.mf4-l-ul3 li{float: left;height: 24px;line-height: 24px;font-size: 14px;width: 125px;margin-right: 35px;}

.mf4-l-ul3 .act{margin-right:0;}

.mf4-l-ul3 li a{color: #666666;}

.mf4-l-ul3 li a:hover{color: #c81623;}

.mf4-l-ul2{padding-top: 6px;}

.mf4-l-ul2 li{float: left;width: 120px;margin-right: 40px;overflow: hidden;}

.mf4-l-ul2 .mf4-l-ul2-r{margin-right:0;}

.mf4-l-ul2 li a{float: left;line-height: 24px;color: #999999;font-size: 12px;font-family: "宋体";margin-right: 11px;}

.mf4-l-ul2 .act{color: #c81623;}

.mf4-l-ul2 li a:hover{color: #c81623;}

.mf4-center{width: 440px;float: left;}

.mf4-center .pic1{width: 439px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px solid #ededed;}

.mf4-center span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf4-center a:hover span{display: block;}

.mf4-center .pic2{width: 219px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;float: left;border-right: 1px solid #ededed;}

.mf4-right{float: left;width: 440px;}

.mf4-right a{float: left;display: block;width: 219px;border-bottom: 1px solid #ededed;border-right: 1px solid #ededed;overflow: hidden;position: relative;}

.mf4-right span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf4-right a:hover span{display: block;}

.mf4-right .pic3{height: 117px;}

.mf4-right .pic2{height: 237px;}

.mf4-bot{background: #f7f7f7;height: 66px;margin-bottom: 16px;}

.mf4-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf4-bot .last{border-right: none;}

.mf4-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf4-bot li:hover span{display: block;}


.mf5-top{border-bottom: 1px solid #c81623;height: 40px;}

.mf5-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px -31px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;padding-left: 3px;}

.mf5-top h3{float: left;height: 40px;line-height: 40px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf5-top ul{float: right;margin-top: 5px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf5-top li{float: left;height:34px;position: relative;}

.mf5-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf5-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf5-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf5-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}


.mf5-mid{height: 474px;margin-bottom: 10px;}


.mf5-left{float: left;width: 330px;}

.mf5-l-top{display: block;height: 474px;width: 330px;overflow: hidden;}

.mf5-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 46px;padding-left: 25px;position: relative;z-index: 5;}

.mf5-l-ul1 li{float: left;margin: 10px 20px 10px 0;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf5-l-ul1 .act{margin-right: 0;}

.mf5-l-ul1 li a{color: #666666;background: url(../images/digitalsicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf5-l-ul1 li a:hover{color: #c81623;}

.mf5-l-ul1 li .mf5-l-ul1-a2{background-position: 0 -26px;}

.mf5-l-ul1 li .mf5-l-ul1-a2{background-position: 0 -26px;}

.mf5-l-foot{height: 169px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding: 22px 0 0 25px;}

.mf5-l-ul3 li{float: left;height: 24px;line-height: 24px;font-size: 14px;width: 125px;margin-right: 35px;}

.mf5-l-ul3 .act{margin-right:0;}

.mf5-l-ul3 li a{color: #666666;}

.mf5-l-ul3 li a:hover{color: #c81623;}

.mf5-l-ul2{padding-top: 6px;}

.mf5-l-ul2 li{float: left;width: 120px;margin-right: 40px;overflow: hidden;}

.mf5-l-ul2 .mf5-l-ul2-r{margin-right:0;}

.mf5-l-ul2 li a{float: left;line-height: 24px;color: #999999;font-size: 12px;font-family: "宋体";margin-right: 11px;}

.mf5-l-ul2 .act{color: #c81623;}

.mf5-l-ul2 li a:hover{color: #c81623;}

.mf5-center{width: 440px;float: left;}

.mf5-center .pic1{width: 439px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px solid #ededed;}

.mf5-center span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf5-center a:hover span{display: block;}

.mf5-center .pic2{width: 219px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;float: left;border-right: 1px solid #ededed;}

.mf5-right{float: left;width: 440px;}

.mf5-right a{float: left;display: block;width: 219px;border-bottom: 1px solid #ededed;border-right: 1px solid #ededed;overflow: hidden;position: relative;}

.mf5-right span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf5-right a:hover span{display: block;}

.mf5-right .pic3{height: 117px;}

.mf5-right .pic2{height: 237px;}

.mf5-bot{background: #f7f7f7;height: 66px;margin-bottom: 16px;}

.mf5-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf5-bot .last{border-right: none;}

.mf5-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf5-bot li:hover span{display: block;}


.mf6-top{border-bottom: 1px solid #c81623;height: 41px;}

.mf6-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px 4px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;padding-left: 3px;}

.mf6-top h3{float: left;height: 38px;line-height: 38px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf6-top ul{float: right;margin-top: 6px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf6-top li{float: left;height:34px;position: relative;}

.mf6-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf6-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf6-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf6-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}


.mf6-mid{height: 474px;margin-bottom: 10px;}

.mf6-left{float: left;width: 210px;}

.mf6-l-top{display: block;height: 474px;width: 210px;overflow: hidden;}

.mf6-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 92px;padding-left: 10px;position: relative;z-index: 5;}

.mf6-l-ul1 li{float: left;width: 98px;margin: 10px 0px;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf6-l-ul1 li a{color: #666666;background: url(../images/sportsicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf6-l-ul1 li a:hover{color: #c81623;}

.mf6-l-ul1 li .mf6-l-ul1-a2{background-position: 0 -26px;}

.mf6-l-ul1 li .mf6-l-ul1-a3{background-position: 0 -52px;}

.mf6-l-ul1 li .mf6-l-ul1-a4{background-position: 0 -78px;}

.mf6-l-foot{height: 123px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding-left: 25px;padding-top: 22px;}

.mf6-l-foot a{display: inline-block;height: 24px;line-height: 24px;color: #666666;font-size: 14px;}

.mf6-l-foot ul{padding-top:6px ;}

.mf6-l-foot ul li{height: 24px;line-height: 24px;float: left;font-family: "宋体";font-size: 12px;margin-right: 11px;}

.mf6-l-foot ul li a{color: #999999;}

.mf6-l-foot ul li .act{color: #c81623;}

.mf6-l-foot a:hover{color: #c81623;}

.mf6-center{width: 1000px;float: left;}

.mf6-center .pic1{width: 219px;height: 236px;display: block;border-bottom: 1px dotted #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;}

.mf6-center .pic2{width: 339px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;background: #eaeaea;}

.mf6-center a img{transition: all 1s;}

.mf6-center a:hover img{transform: translateX(10px);}

.mf6-bot{background: #f7f7f7;height: 66px;margin-bottom: 21px;}

.mf6-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf6-bot .last{border-right: none;}

.mf6-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf6-bot li:hover span{display: block;}



.mf7-top{border-bottom: 1px solid #c81623;height: 41px;}

.mf7-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px 4px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;padding-left: 3px;}

.mf7-top h3{float: left;height: 38px;line-height: 38px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf7-top ul{float: right;margin-top: 6px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf7-top li{float: left;height:34px;position: relative;}

.mf7-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf7-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf7-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf7-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}

.mf7-mid{height: 474px;margin-bottom: 10px;}

.mf7-left{float: left;width: 210px;}

.mf7-l-top{display: block;height: 474px;width: 210px;overflow: hidden;}

.mf7-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 92px;padding-left: 10px;position: relative;z-index: 5;}

.mf7-l-ul1 li{float: left;width: 98px;margin: 10px 0px;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf7-l-ul1 li a{color: #666666;background: url(../images/livingsicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf7-l-ul1 li a:hover{color: #c81623;}

.mf7-l-ul1 li .mf7-l-ul1-a2{background-position: 0 -26px;}

.mf7-l-ul1 li .mf7-l-ul1-a3{background-position: 0 -52px;}

.mf7-l-ul1 li .mf7-l-ul1-a4{background-position: 0 -78px;}

.mf7-l-foot{height: 123px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding-left: 25px;padding-top: 22px;}

.mf7-l-foot a{display: inline-block;height: 24px;line-height: 24px;color: #666666;font-size: 14px;}

.mf7-l-foot ul{padding-top:6px ;}

.mf7-l-foot ul li{height: 24px;line-height: 24px;float: left;font-family: "宋体";font-size: 12px;margin-right: 11px;}

.mf7-l-foot ul li a{color: #999999;}

.mf7-l-foot ul li .act{color: #c81623;}

.mf7-l-foot a:hover{color: #c81623;}

.mf7-center{width: 1000px;float: left;}

.mf7-center .pic1{width: 219px;height: 236px;display: block;border-bottom: 1px dotted #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;}

.mf7-center .pic2{width: 339px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;background: #eaeaea;}

.mf7-center a img{transition: all 1s;}

.mf7-center a:hover img{transform: translateX(10px);}

.mf7-bot{background: #f7f7f7;height: 66px;margin-bottom: 21px;}

.mf7-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf7-bot .last{border-right: none;}

.mf7-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf7-bot li:hover span{display: block;}



.mf8-top{border-bottom: 1px solid #c81623;height: 41px;}

.mf8-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px -31px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;padding-left: 3px;}

.mf8-top h3{float: left;height: 38px;line-height: 38px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf8-top ul{float: right;margin-top: 6px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf8-top li{float: left;height:34px;position: relative;}

.mf8-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf8-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf8-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf8-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}

.mf8-mid{height: 474px;margin-bottom: 10px;}

.mf8-left{float: left;width: 210px;}

.mf8-l-top{display: block;height: 474px;width: 210px;overflow: hidden;}

.mf8-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 92px;padding-left: 10px;position: relative;z-index: 5;}

.mf8-l-ul1 li{float: left;width: 98px;margin: 10px 0px;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf8-l-ul1 li a{color: #666666;background: url(../images/babysicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf8-l-ul1 li a:hover{color: #c81623;}

.mf8-l-ul1 li .mf8-l-ul1-a2{background-position: 0 -26px;}

.mf8-l-ul1 li .mf8-l-ul1-a3{background-position: 0 -52px;}

.mf8-l-ul1 li .mf8-l-ul1-a4{background-position: 0 -78px;}

.mf8-l-foot{height: 123px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding-left: 25px;padding-top: 22px;}

.mf8-l-foot a{display: inline-block;height: 24px;line-height: 24px;color: #666666;font-size: 14px;}

.mf8-l-foot ul{padding-top:6px ;}

.mf8-l-foot ul li{height: 24px;line-height: 24px;float: left;font-family: "宋体";font-size: 12px;margin-right: 11px;}

.mf8-l-foot ul li a{color: #999999;}

.mf8-l-foot ul li .act{color: #c81623;}

.mf8-l-foot a:hover{color: #c81623;}

.mf8-center{width: 1000px;float: left;}

.mf8-center .pic1{width: 219px;height: 236px;display: block;border-bottom: 1px dotted #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;}

.mf8-center .pic2{width: 339px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;background: #eaeaea;}

.mf8-center a img{transition: all 1s;}

.mf8-center a:hover img{transform: translateX(10px);}

.mf8-bot{background: #f7f7f7;height: 66px;margin-bottom: 21px;}

.mf8-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf8-bot .last{border-right: none;}

.mf8-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf8-bot li:hover span{display: block;}



.mf9-top{border-bottom: 1px solid #c81623;height: 41px;}

.mf9-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px -31px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;padding-left: 3px;}

.mf9-top h3{float: left;height: 38px;line-height: 38px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf9-top ul{float: right;margin-top: 6px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf9-top li{float: left;height:34px;position: relative;}

.mf9-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf9-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf9-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf9-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}

.mf9-mid{height: 474px;margin-bottom: 10px;}

.mf9-left{float: left;width: 210px;}

.mf9-l-top{display: block;height: 474px;width: 210px;overflow: hidden;}

.mf9-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 92px;padding-left: 10px;position: relative;z-index: 5;}

.mf9-l-ul1 li{float: left;width: 98px;margin: 10px 0px;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf9-l-ul1 li a{color: #666666;background: url(../images/foodsicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf9-l-ul1 li a:hover{color: #c81623;}

.mf9-l-ul1 li .mf9-l-ul1-a2{background-position: 0 -26px;}

.mf9-l-ul1 li .mf9-l-ul1-a3{background-position: 0 -52px;}

.mf9-l-ul1 li .mf9-l-ul1-a4{background-position: 0 -78px;}

.mf9-l-foot{height: 123px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding-left: 25px;padding-top: 22px;}

.mf9-l-foot a{display: inline-block;height: 24px;line-height: 24px;color: #666666;font-size: 14px;}

.mf9-l-foot ul{padding-top:6px ;}

.mf9-l-foot ul li{height: 24px;line-height: 24px;float: left;font-family: "宋体";font-size: 12px;margin-right: 11px;}

.mf9-l-foot ul li a{color: #999999;}

.mf9-l-foot ul li .act{color: #c81623;}

.mf9-l-foot a:hover{color: #c81623;}

.mf9-center{width: 1000px;float: left;}

.mf9-center .pic1{width: 219px;height: 236px;display: block;border-bottom: 1px dotted #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;}

.mf9-center .pic2{width: 339px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;background: #eaeaea;}

.mf9-center a img{transition: all 1s;}

.mf9-center a:hover img{transform: translateX(10px);}

.mf9-bot{background: #f7f7f7;height: 66px;margin-bottom: 21px;}

.mf9-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf9-bot .last{border-right: none;}

.mf9-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf9-bot li:hover span{display: block;}



.mf10-top{border-bottom: 1px solid #c81623;height: 41px;}

.mf10-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px -31px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;}

.mf10-top h3{float: left;height: 38px;line-height: 38px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf10-top ul{float: right;margin-top: 6px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf10-top li{float: left;height:34px;position: relative;}

.mf10-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf10-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf10-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf10-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}

.mf10-mid{height: 474px;margin-bottom: 10px;}

.mf10-left{float: left;width: 210px;}

.mf10-l-top{display: block;height: 474px;width: 210px;overflow: hidden;}

.mf10-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 92px;padding-left: 10px;position: relative;z-index: 5;}

.mf10-l-ul1 li{float: left;width: 98px;margin: 10px 0px;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf10-l-ul1 li a{color: #666666;background: url(../images/booksicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf10-l-ul1 li a:hover{color: #c81623;}

.mf10-l-ul1 li .mf10-l-ul1-a2{background-position: 0 -26px;}

.mf10-l-ul1 li .mf10-l-ul1-a3{background-position: 0 -52px;}

.mf10-l-ul1 li .mf10-l-ul1-a4{background-position: 0 -78px;}

.mf10-l-foot{height: 123px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding-left: 25px;padding-top: 22px;}

.mf10-l-foot a{display: inline-block;height: 24px;line-height: 24px;color: #666666;font-size: 14px;}

.mf10-l-foot ul{padding-top:6px ;}

.mf10-l-foot ul li{height: 24px;line-height: 24px;float: left;font-family: "宋体";font-size: 12px;margin-right: 11px;}

.mf10-l-foot ul li a{color: #999999;}

.mf10-l-foot ul li .act{color: #c81623;}

.mf10-l-foot a:hover{color: #c81623;}

.mf10-center{width: 660px;float: left;}

.mf10-center .pic1{width: 219px;height: 236px;display: block;border-bottom: 1px dotted #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;}

.mf10-center .pic2{width: 439px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;background: #eaeaea;}

.mf10-center a img{transition: all 1s;}

.mf10-center a:hover img{transform: translateX(10px);}

.mf10-right{float: left;width: 339px;height: 473px;border-right: 1px solid #ededed;border-bottom: 1px solid #ededed;}

.mf10-right h3{height: 40px;line-height: 40px;color: #666666;font-weight: normal;border-bottom: 1px solid #e4e4e4;padding: 6px 0 0 5px;margin: 0 15px 0 10px;font-size: 20px;}

.mf10-right .case{padding: 21px 8px 0 4px;height: 79px;width: 327px;}

.mf10-right .case .left{width: 78px;border-right: 1px dotted #dbdbdb;display: block;float: left;text-align: center;overflow: hidden;height: 79px;}

.mf10-right .case .left img{border-radius: 25px;width: 50px;height: 50px;margin: 0 auto;display: block;}

.mf10-right .case .left span{height: 30px;line-height: 30px;color: #666666;font-size: 12px;font-family: "宋体";}

.mf10-right .case .right{width: 248px;height: 79px;float: left;display: block;}

.mf10-right .case .right img{float: left;height: 79px;margin: 0 10px 0 8px;width: 80px;height: 80px;}

.mf10-right .case .right p{height: 18px;line-height: 18px;color: #666666;font-size: 14px;width: 150px;overflow: hidden;margin-bottom: 4px;}

.mf10-right .case .right span{display: block;background: #f8f8f8;height: 44px;width: 150px;overflow: hidden;font-size: 12px;font-family: "宋体";color: #999999;line-height: 18px;padding-top: 10px;}

.mf10-right .case .right span i{font-size: 20px;font-weight: bold;}

.mf10-bot{background: #f7f7f7;height: 66px;margin-bottom: 21px;}

.mf10-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf10-bot .last{border-right: none;}

.mf10-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf10-bot li:hover span{display: block;}



.mf11-top{border-bottom: 1px solid #c81623;height: 40px;}

.mf11-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px -31px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;}

.mf11-top h3{float: left;height: 40px;line-height: 40px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf11-top ul{float: right;margin-top: 5px;border: 1px solid #ededed;border-bottom: none;height: 34px;}

.mf11-top li{float: left;height:34px;position: relative;}

.mf11-top li a{display: block;padding: 0 17px;font-size: 12px;font-family: "宋体";color: #666666;height:32px;line-height: 30px;border-top: 3px solid transparent;border-left: 1px solid transparent;border-right: 1px solid transparent;margin-top: -1px;margin-left: -1px;position: relative;z-index: 5;}

.mf11-top li .act{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf11-top li a:hover{color:#c81623;border-color: #c81623;height: 33px;background: #FFFFFF;}

.mf11-top ul span{width: 1px;background: #cccccc;height: 14px;position: absolute;right: 0px;top: 10px;}


.mf11-mid{height: 474px;margin-bottom: 10px;}


.mf11-left{float: left;width: 330px;}

.mf11-l-top{display: block;height: 474px;width: 330px;overflow: hidden;}

.mf11-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 46px;padding-left: 25px;position: relative;z-index: 5;}

.mf11-l-ul1 li{float: left;margin: 10px 10px 10px 0;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf11-l-ul1 .act{margin-right: 0;}

.mf11-l-ul1 li a{color: #666666;background: url(../images/carsicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf11-l-ul1 li a:hover{color: #c81623;}

.mf11-l-ul1 li .mf11-l-ul1-a2{background-position: 0 -26px;}

.mf11-l-ul1 li .mf11-l-ul1-a2{background-position: 0 -26px;}

.mf11-l-foot{height: 169px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding: 22px 0 0 25px;}

.mf11-l-ul3 li{float: left;height: 24px;line-height: 24px;font-size: 14px;width: 125px;margin-right: 35px;}

.mf11-l-ul3 .act{margin-right:0;}

.mf11-l-ul3 li a{color: #666666;}

.mf11-l-ul3 li a:hover{color: #c81623;}

.mf11-l-ul2{padding-top: 6px;}

.mf11-l-ul2 li{float: left;width: 120px;margin-right: 40px;overflow: hidden;}

.mf11-l-ul2 .mf11-l-ul2-r{margin-right:0;}

.mf11-l-ul2 li a{float: left;line-height: 24px;color: #999999;font-size: 12px;font-family: "宋体";margin-right: 11px;}

.mf11-l-ul2 .act{color: #c81623;}

.mf11-l-ul2 li a:hover{color: #c81623;}

.mf11-center{width: 440px;float: left;}

.mf11-center .pic1{width: 439px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px solid #ededed;}

.mf11-center span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf11-center a:hover span{display: block;}

.mf11-center .pic2{width: 219px;height: 236px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;float: left;border-right: 1px solid #ededed;}

.mf11-right{float: left;width: 440px;}

.mf11-right a{float: left;display: block;width: 219px;border-bottom: 1px solid #ededed;border-right: 1px solid #ededed;overflow: hidden;position: relative;}

.mf11-right span{display: block;height: 100%;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: 0;left: 0;display: none;z-index: 10;}

.mf11-right a:hover span{display: block;}

.mf11-right .pic3{height: 117px;}

.mf11-right .pic2{height: 237px;}

.mf11-bot{background: #f7f7f7;height: 66px;margin-bottom: 16px;}

.mf11-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf11-bot .last{border-right: none;}

.mf11-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf11-bot li:hover span{display: block;}



.mf12-top{border-bottom: 1px solid #c81623;height: 41px;}

.mf12-top i{font-size: 12px;color: #FFFFFF;background: url(../images/nva_bg.png) no-repeat 0px -31px;float: left;display: block;width: 28px;height: 38px;line-height: 38px;}

.mf12-top h3{float: left;height: 38px;line-height: 38px;color: #333333;font-weight: normal;font-size: 20px;margin-left: 10px;}

.mf12-mid{height: 474px;margin-bottom: 10px;}

.mf12-left{float: left;width: 210px;}

.mf12-l-top{display: block;height: 474px;width: 210px;overflow: hidden;}

.mf12-l-ul1{background: rgba(255,255,255,0.5);margin-top: -237px;height: 92px;padding-left: 25px;position: relative;z-index: 5;}

.mf12-l-ul1 li{width: 98px;padding: 10px 0px;height: 26px;line-height: 26px;font-size: 14px;overflow: hidden;}

.mf12-l-ul1 li a{color: #666666;background: url(../images/lifeicon.png) no-repeat 0 0;padding-left: 32px;display: inline-block;}

.mf12-l-ul1 li a:hover{color: #c81623;}

.mf12-l-ul1 li .mf12-l-ul1-a2{background-position: 0 -26px;}

.mf12-l-ul1 li .mf12-l-ul1-a3{background-position: 0 -52px;}

.mf12-l-ul1 li .mf12-l-ul1-a4{background-position: 0 -78px;}

.mf12-l-foot{height: 123px;background: rgba(255,255,255,0.8);position: relative;z-index: 5;padding-left: 25px;padding-top: 22px;overflow: hidden;}

.mf12-l-foot a{display: inline-block;height: 24px;line-height: 24px;color: #666666;font-size: 14px;}

.mf12-l-foot ul{padding-top:6px ;}

.mf12-l-foot ul li{height: 24px;line-height: 24px;float: left;font-family: "宋体";font-size: 12px;margin-right: 11px;}

.mf12-l-foot ul li a{color: #999999;}

.mf12-l-foot ul li .act{color: #c81623;}

.mf12-l-foot a:hover{color: #c81623;}

.mf12-center{width: 395px;float: left;}

.mf12-center .pic1{width: 395px;height: 237px;display: block;border-bottom: 1px dotted #f5f5f5;overflow: hidden;position: relative;float: left;}

.mf12-center .pic2{width: 196px;height: 116px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;}

.mf12-center .pic3{width: 196px;height: 118px;display: block;border-bottom: 1px solid #ededed;overflow: hidden;position: relative;border-right: 1px dotted #ededed;float: left;}

.mf12-center a img{transition: all 1s;}

.mf12-center a:hover img{transform: translateX(10px);}

.mf12-bot{background: #f7f7f7;height: 66px;margin-bottom: 21px;}

.mf12-bot li{float: left;border-right:1px dotted #cccccc ;width: 120px;text-align: center;margin-top: 13px;position: relative;}

.mf12-bot .last{border-right: none;}

.mf12-bot span{display: block;height: 66px;width: 100%;background:rgba(255,255,255,0.4);position: absolute;top: -13px;left: 0;display: none;z-index: 10;}

.mf12-bot li:hover span{display: block;}


.m-page13{padding-bottom: 20px;}

.m-page13 .left{float: left;}

.m-page13 .left h3{height: 39px;line-height: 39px;font-size: 20px;color: #666666;font-weight: normal;}

.m-page13 .left .item{height: 282px;border-top: 1px solid #e5e5e5;border-left: 1px solid #e5e5e5;width: 900px;float: left;overflow: hidden;}

.m-page13 .left .item .pic1{width: 239px;height: 281px;display: block;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;text-align: center;float: left;}

.m-page13 .left .item .pic1 img{padding: 25px 0;}

.m-page13 .left .item .pic1 p{text-align: left;padding-left: 29px;height: 24px;line-height: 24px;color: #666666;font-size: 12px;font-family: "宋体";width: 196px;overflow: hidden;}

.m-page13 .left .item .pic1 span{padding-left: 22px;height: 22px;line-height: 24px;color: #e12228;font-size: 18px;font-family: consolas;text-align: left;display: block;font-weight: bold;}

.m-page13 .left .item .pic2{width: 219px;height: 140px;display: block;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;float: left;}

.m-page13 .left .item .pic2 img{padding: 18px 5px 0 10px;float: left;width: 100px;height: 100px;}

.m-page13 .left .item .pic2 p{height: 36px;line-height: 18px;color: #666666;font-size: 12px;font-family: "宋体";width: 98px;overflow: hidden;padding-top: 18px;}

.m-page13 .left .item .pic2 span{height: 28px;line-height: 28px;color: #e12228;font-size: 18px;font-family: consolas;font-weight: bold;}

.m-page13 .left .item img{transition: all 1s;}

.m-page13 .left .item a:hover p{color: #e12228;}

.m-page13 .left .item a:hover img{transform: translatey(-10px);}

.m-page13 .right{float: left;}

.m-page13 .right h3{height: 39px;line-height: 39px;font-size: 20px;color: #666666;font-weight: normal;}

.m-page13 .right .item{height: 281px;border: 1px solid #e5e5e5;border-left: none;width: 308px;overflow: hidden;position: relative;}

.m-page13 .right .item a{display: block;height: 86px;width: 265px;padding: 34px 0 0 20px;}

.m-page13 .right .item .pic{width: 86px;height: 86px;float: left;margin-right: 14px;}

.m-page13 .right .item .name{height: 32px;width: 165px;overflow: hidden;}

.m-page13 .right .item .name .ph{height: 30px;width: 30px;border-radius: 14px;float: left;}

.m-page13 .right .item .name span{line-height: 25px;margin-left: 7px;color: #666666;font-size: 12px;font-family: "宋体";float: left;}

.m-page13 .right .item p{width: 165px;height: 54px;background: #f8f8f8;color: #666666;line-height: 18px;overflow: hidden;font-size: 12px;font-family: "宋体";}

.m-page13 .right .item p i{font-size: 20px;font-weight: bold;}

.m-page13 .right .right-item-box{position: absolute;top: 0;left: 0;}


.cbfloor{position: fixed;left:15%;top:22%;z-index: 15;}

.cbfloor li{height: 40px;line-height: 40px;font-size: 14px;text-align: center;width:40px;cursor: pointer;background: rgba(122,110,110,0.5);margin-bottom: 2px;border-radius:5px;}

.cbfloor a{text-decoration: none;display: none;color: black;font-family: "weiruanyahei";}

.cbfloor span{color: black;color: #666666;font-family: consolas;}

.cbfloor .act a{display: block;color: white;}

.cbfloor .act span{display: none;}

.cbfloor .act{background: rgba(255,0,0,0.8);}

