*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
img,input{border: none;}
body{font-family: arial,"microsoft yahei","宋体";}
i{font-style: normal;}
a{cursor: pointer;}
.clearfix::after{content: '.';display: block;height: 0;clear: both;visibility: hidden;}

.inner{width: 1210px;margin: 0 auto;}

.sup-top{position: fixed;height: 48px;border-bottom: 2px solid #f10214;box-shadow: 0 5px 5px rgba(0,0,0,0.2);background: white;z-index: 900;width: 100%;display: none;}

.sup-top a{float: left;display: inline-block;}

.sup-top form{padding-top: 6px;margin: 0 auto;width: 550px;}

.sup-top .text{padding: 0 5px;background: #efefef url(../images/photo_03.jpg) no-repeat 466px center;height: 35px;line-height: 35px;font-family: "微软雅黑";color: #666666;font-size: 12px;width: 490px;float: left;border: none;outline: none;}

.sup-top .sub{width: 50px;height: 35px;background: #f10215 url(../images/search_03.jpg) no-repeat center;float: left;cursor: pointer;outline: none;border: none;}


.header{border-bottom: 2px solid #b1191a;}

.h-top{background: #f1f1f1;}

.h-top-left{float: left;line-height: 30px;color: #666666;font-size: 12px;margin-left: 10px;position: relative;}

.h-top-left .add{position: relative;border: 1px solid transparent;display: inline-block;text-align: center;height: 28px;padding: 0 5px;line-height: 28px;z-index: 535;}

.h-top-left .addhover{border-color: #cccccc;background: white;border-bottom-color: white;}

.h-top-left-ps{width: 300px;background: white;position: absolute;left: 36px;top: 29px;border: 1px solid #cccccc;z-index: 530;padding: 12px 10px;display: none;}

.h-top-left-ps li{float: left;width: 60px;height: 24px;margin-bottom: 4px;}

.h-top-left-ps li span{display: inline-block;line-height: 24px;font-family: "微软雅黑";color: #666666;font-size: 12px;background: white;padding: 0 7px;}

.h-top-left-ps li .hover{background: #f4f4f4;color: #c81623;}

.h-top-left-ps li .click{background: #f10215;color: white;}

.h-top-left i{display: inline-block;width: 10px;height: 7px;font-size: 20px;overflow: hidden;line-height: 1px;margin-left: 9px;font-family:consolas;transition: all 0.5s;}

/*.h-top-left:hover i{transform: rotate(180deg);}*/

.h-top ul{float: right;}

.h-top li{float: left;font-size: 12px;color: #666666;line-height: 30px;vertical-align: top;}

.h-top a{font-size: 12px;color: #666666;line-height: 30px;display: inline-block;padding: 0 10px;font-family: "宋体";}

.line{height: 12px;width: 1px;background:#dddddd;margin-top: 9px;}

.h-top li .zhuce{color: #c81623;padding-left: 0;}

.h-top ul li .denglu{padding:0 ;margin-right:6px ;}

.h-top li a i{display: inline-block;width: 10px;height: 7px;font-size: 20px;overflow: hidden;line-height: 1px;margin-left: 9px;font-family:consolas;transition: all 0.5s;}

.h-top li a .shoujiact{display: inline-block;width: 15px;height: 20px;margin: 5px 3px 0 0;background: url(../images/jd2015img.png) no-repeat 0 0;float: left;}

.h-top li:hover .shoujiact{background: url(../images/jd2015img.png) no-repeat 0 -25px;}

.h-top li:hover a{color: #c81623;}

.h-top li:hover i{transform: rotate(180deg);}

.h-top li:hover .act{background: #ffffff;}

.h-mid-1{display: block;float: left;margin: 20px 92px 20px 0;}

.h-mid-2{float: left;padding-top: 25px;}

.h-mid-2 .int1{border: 2px solid #b61d1d;width: 449px;height: 32px;padding-left: 5px;font-size:13px ;color: #666666;line-height: 32px;float: left;outline: none;}

.h-mid-2 .int2{width: 80px;height: 36px;background: #b61d1d;text-align: center;line-height: 36px;color: #ffffff;font-size: 16px;float: left;cursor: pointer;outline: none;}

.h-mid-2 ul{width: 538px;overflow: hidden;height: 28px;}

.h-mid-2 li{float: left;margin-right: 11px;height: 28px;}

.h-mid-2 li a{line-height: 28px;color:#666666 ;font-size: 12px;font-family: "宋体";}

.h-mid-2 li a:hover{color: #b61d1d;}

.h-mid-2 li .act{color: #b61d1d;}

.h-mid-3{float: right;margin:25px 65px 0 0;width: 139px;height: 34px;border: 1px solid #dfdfdf;background: #f9f9f9 url(../images/jd2015img.png) no-repeat 18px -49px;position: relative;}

.h-mid-3 a{color: #666666;font-size: 12px;font-family: "宋体";margin-left: 44px;line-height: 34px;vertical-align: top;}

.h-mid-3 a:hover{color: #b61d1d;}

.h-mid-3 span{float: right;padding-right: 11px;line-height: 34px;color: #b4b4b4;font-size: 18px;font-family: consolas;}

.h-mid-3-0{background: #c81623;color: #FFFFFF;border-radius: 7px 7px 7px 0;position: absolute;top:-4px;left:104px;font-size: 12px;text-align: center;height: 14px;line-height: 14px;padding: 0 4px;}

.h-bot .fenlie{width: 200px;height: 44px;background: #b1191a;line-height: 44px;color: #fff;font-size: 15px;padding-left: 10px;float: left;}

.h-bot ul{float: left;}

.h-bot li{float: left;margin: 0 20px;height: 44px;line-height: 44px;font-size: 16px;}

.h-bot li a{color: #333333;}

.h-bot li a:hover{color: #b61d1d;}

.b-nav{float: left;width: 210px;position: relative;}


.pg1-list{float: left;height: 465px;width: 209px;border-left: 1px solid #b61d1d;border-bottom: 1px solid #c81623;background: #c81623;
/*position: relative;*/
position: absolute;top: 0;left: 0;
z-index: 510;}

.pg1-list li{position: relative;color: #fff;}

.pg1-list li h3{font-weight: normal;font-size: 14px;margin-left: 10px;line-height: 31px;width: 192px;overflow: hidden;height: 31px;}

.pg1-list li a{color: #fff;}

.pg1-list li i{position: absolute;color: #FFFFFF;right: 13px;top: 4px;font-family: consolas;}

/*.pg1-list li:hover{background: #f7f7f7;}*/

/*.pg1-list li:hover a{color:#000;}*/

.pg1-list .act{background: #f7f7f7;}

.pg1-list .act a{color:#000;}

.pg1-list .act i{color:#000;}

.pg1-list li a:hover{color: #c81623;}

.cb-list{width: 999px;border: 1px solid #b61d1d;position: absolute;top:-1px;left: 209px;min-height: 465px;z-index: 500;background: #f7f7f7;}

.cb-left{padding: 20px 0 0 20px;float: left;}

.cb-left-title{margin-bottom: 6px;height: 24px;width: 705px;overflow: hidden;}

.cb-left-title a{display: block;height: 24px;line-height: 24px;font-size:12px ;color: #ffffff;background: #7c7171;padding: 0 33px 0 9px;float: left;margin-right: 10px;position: relative;}

.cb-left-title a i{position: absolute;width: 23px;height: 23px;background: #5c5251;text-align: center;font-family: consolas;top: 1px;right: 0;}

.cb-left-title a:hover{background: #C81623;}

.cb-left-title a:hover i{background: #b1191a;}

.cb-left-title .act{background: #C81623;}

.cb-left-title .act i{background: #b1191a;}

.fenlei{padding-top: 10px;}

.fenlei dt{float: left;width: 84px;}

.fenlei dt p{width: 54px;position: relative;text-align: right;height: 21px;overflow: hidden;}

.fenlei dt a{line-height: 21px;color: #666666;font-size: 12px;font-weight: bold;}

.fenlei dt i{position: absolute;right: -13px;top: 0;font-family: consolas;}

.fenlei dt a:hover{color:#C81623 ;}

.fenlei dt a:hover i{color:#C81623 ;}

.fenlei dd{float: left;width: 620px;padding-bottom: 2px;border-bottom: 1px solid #f2f2f2;}

.fenlei dd a{float: left;display: block;color: #666666;height: 16px;line-height: 16px;padding: 0 8px;border-left: 1px solid #e9e9e9;margin-bottom: 8px;font-size: 12px;}

.fenlei dd a:hover{color:#C81623;}

.cb-right{float: right;width: 168px;padding: 20px 20px 0 0;}

.cb-right-t{margin-bottom: 9px;}

.cb-right-t a img{display: block;float: left;margin: 0 1px 1px 0;}

.cb-right-b a img{display: block;margin-bottom:1px;}

.list1{display: none;}

.list2{display: none;}

.list3{display: none;}

.list4{display: none;}

.list5{display: none;}

.list6{display: none;}

.list7{display: none;}

.list8{display: none;}

.list9{display: none;}

.list10{display: none;}

.list11{display: none;}

.list12{display: none;}

.list13{display: none;}

.list14{display: none;}

.list15{display: none;}


.footer{padding-bottom: 30px;}

.footer .top{background: #f5f5f5;height: 94px;}

.footer .top .item1{height: 44px;width: 300px;float: left;background: url(../images/nva_bg.png) no-repeat 11px -135px;margin-top: 25px;}

.footer .top .item2{height: 44px;width: 300px;float: left;background: url(../images/nva_bg.png) no-repeat 11px -199px;margin-top: 25px;}

.footer .top .item3{height: 44px;width: 300px;float: left;background: url(../images/nva_bg.png) no-repeat 11px -263px;margin-top: 25px;}

.footer .top .item4{height: 44px;width: 300px;float: left;background: url(../images/nva_bg.png) no-repeat 11px -327px;margin-top: 25px;}

.footer .mid{height: 187px;border-bottom: 1px solid #e5e5e5;padding-top: 15px;}

.footer .mid dl{width: 199px;float: left;overflow: hidden;}

.footer .mid .last{width: 164px;}

.footer .mid dt{height: 35px;line-height: 35px;font-size: 16px;font-family: "宋体";color: #666666;font-weight: bold;}

.footer .mid dd{line-height: 20px;font-size: 12px;font-family: "宋体";}

.footer .mid dd a{color: #666666;}

.footer .mid dd a:hover{color: #c81623;}

.footer .mid .ditu{float: left;width: 230px;background: url(../images/20130330B_1.png) no-repeat 0 -134px;height: 187px;padding-left: 20px;}

.footer .mid .ditu h3{height: 35px;line-height: 35px;font-size: 16px;font-family: "宋体";color: #c2c2c2;width: 184px;overflow: hidden;}

.footer .mid .ditu p{line-height: 18px;font-size: 12px;font-family: "宋体";color: #b8b8b8;padding-top: 9px;width: 184px;overflow: hidden;}

.footer .mid .ditu a{line-height: 18px;font-size: 12px;font-family: "宋体";color: #b8b8b8;padding-top: 9px;overflow: hidden;height: 18px;float: right;margin-right: 40px;}

.footer .bot{text-align: center;padding-top: 11px;}

.footer .bot ul{display: inline-block;}

.footer .bot li{height: 36px;line-height: 36px;font-size: 12px;font-family: "宋体";float: left;}

.footer .bot li span{color: #9b669b;margin: 0 11px;}

.footer .bot li a{color: #666666;}

.footer .bot li a:hover{color: #c81623;}

.footer .bot p{height: 20px;line-height: 20px;font-size: 12px;font-family: "宋体";display: inline-block;width: 1210px;color: #666666;}

.footer .bot p span{color: #9b669b;margin: 0 8px;}

.footer .bot p img{vertical-align: top;margin-right: 5px;}

.footer .bot p a{color: #666666;}



.footer .bot .icons{display: inline-block;}

.footer .bot .icons a{float: left;margin:0 6px;}

body{border-right:6px solid #7a6e6e;}

.kefu1{position: fixed;right: 0;top: 30%;}

.kefu2{position: fixed;right: 0;bottom: 0;}

.kefu1 div,.kefu2 div{height: 35px;width: 100px;margin-top: 5px;position: relative;overflow: hidden;}

.kefu1 a,.kefu2 a{display: inline-block;width: 35px;height: 35px;border-radius: 3px 0 0 3px;position: absolute;top: 0;right: 0;z-index: 15;}

.kefu1 div:hover>p{left: 0;}

.kefu1 div:hover>a{background-color: red;}

.kefu2 div:hover>p{left: 0;}

.kefu2 div:hover>a{background-color: red;}

.kefuico7 + p{cursor: pointer;}

.kefuico1{background: #7a6e6e url(../images/toolbars.png) no-repeat -87px -175px;}

.kefuico2{background: #7a6e6e url(../images/toolbars.png) no-repeat -49px 0px;}

.kefuico3{background: #7a6e6e url(../images/toolbars.png) no-repeat -49px -50px;}

.kefuico4{background: #7a6e6e url(../images/toolbars.png) no-repeat -190px -100px;}

.kefuico5{background: #7a6e6e url(../images/toolbars.png) no-repeat -190px -150px;}

.kefuico6{background: #7a6e6e url(../images/toolbars.png) no-repeat -49px -150px;}

.kefuico7{background: #7a6e6e url(../images/toolbars.png) no-repeat -49px -250px;}

.kefuico8{background: #7a6e6e url(../images/toolbars.png) no-repeat -49px -300px;}

.kefu1 p,.kefu2 p{font-family:"宋体";color: white;line-height: 35px;font-size: 12px;position: absolute;left:65px;top:0;background: red;transition: all 0.5s;border-radius: 3px 0 0 3px;padding-left: 10px;width:80px;}
