<div class="contact">
    <div class="con">
        <ul class="row">
            <li>
                <h3>手机号:</h3>
                <p>13816228105</p>
            </li>
            <li>
                <h3>QQ号:</h3>
                <p>20659218</p>
            </li>
            <li>
                <h3>联系地址:</h3>
                <p>上海奉贤区奉城镇新奉公路6125弄奉馨园151号302室</p>
            </li>
        </ul>
        <div>
            <h3>微信扫一扫</h3>
            <a class="pic">
                <img src="image/weixin.png"/>
            </a>
        </div>
    </div>
</div>