<div class="experience">
    <ul class="line">
        <li>
            <a>2017年5月在火星时代学习WEB前端课程</a>
            <div class="item">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
            <span>2017年</span>
        </li>
        <li>
            <div class="item">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
        </li>
        <li>
            <a>2009年6月到2017年3月，就职于上海传洁日用化工有限公司，担任网络工程师</a>
            <div class="item">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
            <span>2009年</span>
        </li>
        <li>
            <a>2009年在华普教育学习思科与微软认证课程</a>
            <div class="item">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
            <span>2009年</span>
        </li>
        <li>
            <div class="item">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
            <span>2008年</span>
        </li>
        <li>
            <a>2007年2月到2008年10月，就职于深圳市东大景观设计有限公司上海分公司，担任网络工程师</a>
            <div class="item">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
            <span>2007年</span>
        </li>
        <li>
            <a>2004年9月至2007年2月,就职于上海航天建筑设计院，担任网络工程师</a>
            <div class="item">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
            <span>2004年</span>
        </li>
        <li>
            <a>2004年6月，毕业于上海师范大学的经济信息管理与计算机应用专业</a>
            <div class="item">
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
            <span>2004年</span>
        </li>
    </ul>
</div>