<div class="home">
    <div class="photo">
        <img src="image/photo.jpg">
        <span class="line right"></span>
        <span class="line top"></span>
        <span class="line left"></span>
        <span class="line bottom"></span>
    </div>
    <ul>
        <li>
            <h3>姓名：<span>高云</span></h3>
        </li>
        <li>
            <h3>理想职业：<span>Web前端工程师</span></h3>
        </li>
        <li>
            <h3>出生日期：<span>1982.12</span></h3>
        </li>
        <li>
            <h3>年龄：<span>35岁</span></h3>
        </li>
        <li>
            <h3>性别：<span>男</span></h3>
        </li>
        <li>
            <h3>个人爱好：<span>电脑、网络、硬件、打代码</span></h3>
        </li>
    </ul>
</div>