<div class="project">
    <ul>
        <li>
            <a href="project/JD/index.html" target="_blank"><img src="image/0.jpg"/></a>
            <span class="line right"></span>
            <span class="line top"></span>
            <span class="line left"></span>
            <span class="line bottom"></span>
        </li>
        <li>
            <a href="project/game/index.html" target="_blank"><img src="image/1.jpg"/></a>
            <span class="line right"></span>
            <span class="line top"></span>
            <span class="line left"></span>
            <span class="line bottom"></span>
        </li>
        <li>
            <a href="project/doubanApp/index.html" target="_blank"><img src="image/2.jpg"/></a>
            <span class="line right"></span>
            <span class="line top"></span>
            <span class="line left"></span>
            <span class="line bottom"></span>
        </li>
        <li>
            <a href="project/163newsApp/index.html" target="_blank"><img src="image/3.jpg"/></a>
            <span class="line right"></span>
            <span class="line top"></span>
            <span class="line left"></span>
            <span class="line bottom"></span>
        </li>
        <li>
            <a href="project/OA/index.html" target="_blank"><img src="image/4.jpg"/></a>
            <span class="line right"></span>
            <span class="line top"></span>
            <span class="line left"></span>
            <span class="line bottom"></span>
        </li>
        <li>
            <a href="project/awesome/index.html" target="_blank"><img src="image/5.jpg"/></a>
            <span class="line right"></span>
            <span class="line top"></span>
            <span class="line left"></span>
            <span class="line bottom"></span>
        </li>
    </ul>
</div>