<div class="skill">
    <div class="row1">
        <div class="node">
            <a>IT网络</a>
        </div>
        <div class="line">
            <div class="sline"></div>
        </div>
        <div class="node">
            <a>HTML</a>
        </div>
    </div>
    <div class="row2">
        <div class="colline">
            <div class="scolline"></div>
        </div>
    </div>
    <div class="row3">
        <div class="node">
            <a>JavaScript</a>
        </div>
        <div class="line">
            <div class="sline"></div>
        </div>
        <div class="node">
            <a>CSS</a>
        </div>
    </div>
    <div class="row4">
        <div class="down">
            <div class='sign1'></div>
            <div class='sign2'></div>
            <div class='sign3'></div>
        </div>
    </div>
    <div class="row5">
        <div>
            <canvas id="can1"></canvas>
            <p>IT网络</p>
        </div>
        <div>
            <canvas id="can2"></canvas>
            <p>HTML</p>
        </div>
        <div>
            <canvas id="can3"></canvas>
            <p>CSS</p>
        </div>
        <div>
            <canvas id="can4"></canvas>
            <p>JavaScript</p>
        </div>
        <div>
            <canvas id="can5"></canvas>
            <p>PhotoShop</p>
        </div>
        <div>
            <canvas id="can6"></canvas>
            <p>AutoCAD</p>
        </div>
    </div>
    <div class="row6">
        <p>熟练掌握HTML、CSS、HTML5、CSS3、JavaScript、JQuery、Vue.js、bootstrap </p>
        <p>熟悉Angular JS、React、sass、git、微信小程序
        </p>
    </div>


</div>